examples/flows.json
[
    {
        "id": "2e42d0c736930c5b",
        "type": "AutoAlign",
        "z": "b22f47c724215b2a",
        "name": "",
        "algname": "Dagre LR",
        "x": 276,
        "y": 296,
        "wires": []
    },
    {
        "id": "087f2ae86c3b7a16",
        "type": "AutoAlign",
        "z": "b22f47c724215b2a",
        "name": "",
        "algname": "Dagre Longest Path",
        "x": 306,
        "y": 344.5,
        "wires": []
    },
    {
        "id": "748eff9e44a65b45",
        "type": "AutoAlign",
        "z": "b22f47c724215b2a",
        "name": "",
        "algname": "ELKjs Mr. Tree",
        "x": 286,
        "y": 393,
        "wires": []
    },
    {
        "id": "ba51e1b8380acf95",
        "type": "AutoAlign",
        "z": "b22f47c724215b2a",
        "name": "",
        "algname": "ELKjs Layered Upwards",
        "x": 316,
        "y": 441.5,
        "wires": []
    },
    {
        "id": "d5e1d4d42711047c",
        "type": "AutoAlign",
        "z": "b22f47c724215b2a",
        "name": "",
        "algname": "ELKjs Layered Downwards",
        "x": 326,
        "y": 490,
        "wires": []
    },
    {
        "id": "3ed68605ccbd2818",
        "type": "AutoAlign",
        "z": "b22f47c724215b2a",
        "name": "",
        "algname": "ELKjs Box algorithm",
        "x": 306,
        "y": 538.5,
        "wires": []
    },
    {
        "id": "8ae5790663c95248",
        "type": "AutoAlign",
        "z": "b22f47c724215b2a",
        "name": "",
        "algname": "Pull Request #2267",
        "x": 306,
        "y": 587,
        "wires": []
    },
    {
        "id": "0c8646167bee3330",
        "type": "group",
        "z": "b22f47c724215b2a",
        "name": "Straight down the line",
        "style": {
            "label": true
        },
        "nodes": [
            "f97bd60404eabab4",
            "69ca33e8074f600e",
            "5f39f70315979199",
            "4e6cf20218d2752f",
            "f51b3b557cf32cda",
            "3a49d2cc4589f06b",
            "7e6b0d6ec70dfb69",
            "a3199b53fa75bb94",
            "54f8b5a83cde5b2c"
        ],
        "x": 877,
        "y": 238,
        "w": 599.75,
        "h": 263
    },
    {
        "id": "f97bd60404eabab4",
        "type": "inject",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "set RSS url",
        "props": [
            {
                "p": "url",
                "v": "https://flows.flowhub.org/feed.xml",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 983,
        "y": 338,
        "wires": [
            [
                "69ca33e8074f600e"
            ]
        ]
    },
    {
        "id": "69ca33e8074f600e",
        "type": "http request",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1325,
        "y": 363,
        "wires": [
            [
                "5f39f70315979199"
            ]
        ]
    },
    {
        "id": "5f39f70315979199",
        "type": "xml",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "parse feed.xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1282,
        "y": 423,
        "wires": [
            [
                "f51b3b557cf32cda"
            ]
        ]
    },
    {
        "id": "4e6cf20218d2752f",
        "type": "split",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1223,
        "y": 279,
        "wires": [
            [
                "3a49d2cc4589f06b"
            ]
        ]
    },
    {
        "id": "f51b3b557cf32cda",
        "type": "change",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "set payload and define fake tab Z id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.feed.entry",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1184,
        "y": 460,
        "wires": [
            [
                "4e6cf20218d2752f"
            ]
        ]
    },
    {
        "id": "3a49d2cc4589f06b",
        "type": "function",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "convert xml object to flow object",
        "func": "msg.payload = {\n    \"id\": msg.payload.id[0].match(/.{16}$/)[0],\n    \"type\": \"comment\",\n    \"name\": msg.payload.title[0][\"_\"],\n    \"info\": msg.payload.id[0],\n    \"x\": 801 * Math.random(),\n    \"y\": 699 * Math.random(),\n    \"wires\": [\n    ]\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1291,
        "y": 401,
        "wires": [
            [
                "7e6b0d6ec70dfb69"
            ]
        ]
    },
    {
        "id": "7e6b0d6ec70dfb69",
        "type": "join",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1280,
        "y": 429,
        "wires": [
            [
                "a3199b53fa75bb94"
            ]
        ]
    },
    {
        "id": "a3199b53fa75bb94",
        "type": "function",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "prepend the subflow to the nodes array",
        "func": "msg.payload = {\n    flowContent: msg.payload,\n    removeduplicates: true,\n    autoimport: false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1287,
        "y": 379,
        "wires": [
            [
                "54f8b5a83cde5b2c"
            ]
        ]
    },
    {
        "id": "54f8b5a83cde5b2c",
        "type": "ClientCode",
        "z": "b22f47c724215b2a",
        "g": "0c8646167bee3330",
        "name": "Open import dialog",
        "clientcode": "function doIt() {\n  var content = payload.flowContent;\n\n  if (payload.removeduplicates) {\n    content = content.filter((elem) => {\n      return RED.nodes.node(elem.id) == undefined\n    });\n  }\n\n  if (content.length == 0) {\n    RED.notify(\"No new content\", {\n      type: \"ok\",\n      id: \"TriggerImport\",\n      timeout: 2000\n    });\n    return;\n  }\n  RED.clipboard.import();\n\n  setTimeout(() => {\n    $('#red-ui-clipboard-dialog-import-text').val(\n      JSON.stringify(content)\n    ).trigger(\"paste\");\n\n    if (payload.autoimport) {\n      setTimeout(() => {\n        $('#red-ui-clipboard-dialog-ok').trigger('click');\n      }, 435);\n    }\n  }, 300);\n};\n\ndoIt();\n",
        "format": "javascript",
        "x": 1360.75,
        "y": 392.20849609375,
        "wires": [
            []
        ]
    },
    {
        "id": "26b4953b4190c897",
        "type": "group",
        "z": "b22f47c724215b2a",
        "name": "forky straight line",
        "style": {
            "label": true
        },
        "nodes": [
            "4e3b4233ee17a6d8",
            "ea99f83b84f997c5",
            "fefb17793a918b94",
            "35f0115eef846468",
            "4ed352d45040489c",
            "98c9058cb15f0b4d",
            "a36ef8f61f973c7a",
            "48c848470e9ab2ae"
        ],
        "x": 874,
        "y": 582.4285182952881,
        "w": 424.8571529388428,
        "h": 174.8572120666504
    },
    {
        "id": "4e3b4233ee17a6d8",
        "type": "inject",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "don't press me",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1000,
        "y": 692,
        "wires": [
            [
                "ea99f83b84f997c5"
            ]
        ]
    },
    {
        "id": "ea99f83b84f997c5",
        "type": "switch",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1112.857126235962,
        "y": 653.4285888671875,
        "wires": [
            [
                "fefb17793a918b94",
                "35f0115eef846468",
                "98c9058cb15f0b4d"
            ]
        ]
    },
    {
        "id": "fefb17793a918b94",
        "type": "change",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1185.7143077850342,
        "y": 714.857195854187,
        "wires": [
            [
                "4ed352d45040489c",
                "a36ef8f61f973c7a"
            ]
        ]
    },
    {
        "id": "35f0115eef846468",
        "type": "debug",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1147.1428356170654,
        "y": 623.4285182952881,
        "wires": []
    },
    {
        "id": "4ed352d45040489c",
        "type": "switch",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1195.7142581939697,
        "y": 667.7143034934998,
        "wires": [
            [
                "48c848470e9ab2ae"
            ]
        ]
    },
    {
        "id": "98c9058cb15f0b4d",
        "type": "link out",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "link out 119",
        "mode": "link",
        "links": [],
        "x": 1239.999984741211,
        "y": 666.2856950759888,
        "wires": []
    },
    {
        "id": "a36ef8f61f973c7a",
        "type": "debug",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1192.8571529388428,
        "y": 716.2857303619385,
        "wires": []
    },
    {
        "id": "48c848470e9ab2ae",
        "type": "template",
        "z": "b22f47c724215b2a",
        "g": "26b4953b4190c897",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload:  !",
        "output": "str",
        "x": 1168.5714168548584,
        "y": 640.5714635848999,
        "wires": [
            []
        ]
    },
    {
        "id": "a384f19c472f9e94",
        "type": "group",
        "z": "b22f47c724215b2a",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "a60fb929a9eb268c",
            "11293e4022cd903d",
            "b8c1627dfd8a5e89",
            "8a78cc0a39fce021",
            "6187451cb60a706d"
        ],
        "x": 871,
        "y": 839,
        "w": 259,
        "h": 198
    },
    {
        "id": "a60fb929a9eb268c",
        "type": "function",
        "z": "b22f47c724215b2a",
        "g": "a384f19c472f9e94",
        "name": "function 20",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 955,
        "wires": [
            [
                "11293e4022cd903d"
            ]
        ]
    },
    {
        "id": "11293e4022cd903d",
        "type": "function",
        "z": "b22f47c724215b2a",
        "g": "a384f19c472f9e94",
        "name": "function 21",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1002,
        "y": 965,
        "wires": [
            [
                "a60fb929a9eb268c"
            ]
        ]
    },
    {
        "id": "b8c1627dfd8a5e89",
        "type": "function",
        "z": "b22f47c724215b2a",
        "g": "a384f19c472f9e94",
        "name": "function 22",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 967,
        "y": 939,
        "wires": [
            [
                "6187451cb60a706d"
            ]
        ]
    },
    {
        "id": "8a78cc0a39fce021",
        "type": "function",
        "z": "b22f47c724215b2a",
        "g": "a384f19c472f9e94",
        "name": "function 23",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1034,
        "y": 996,
        "wires": [
            [
                "b8c1627dfd8a5e89"
            ]
        ]
    },
    {
        "id": "6187451cb60a706d",
        "type": "function",
        "z": "b22f47c724215b2a",
        "g": "a384f19c472f9e94",
        "name": "THE LOOP!",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1006,
        "y": 880,
        "wires": [
            [
                "11293e4022cd903d",
                "8a78cc0a39fce021"
            ]
        ]
    }
]